.tab {
    display: none;
}

.active-tab {
    display: block;
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ccc;
    border: 1px solid #666;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: #ddd;
}